{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<div style="margin-bottom: 20px; font-size: 40px;">
    <h2>Get a Quote</h2>
</div>

<div>
    <form action="/quote" method="post">
        <p style="margin-bottom: 8px;">Stock Lookup:</p>
            <input id="symbol1" name="symbol" placeholder="Enter stock name" autofocus type="text" required
            class="form-control mx-auto w-auto" style="margin-bottom: 15px;">
        <button id="lookupbtn" type="submit">Search</button>
    </form>
</div>

{% endblock %}